//color
$color-black-0:#323232;
$color-black-1:#222222;
$color-black-3:#333333;
$color-black-4:#585858;
$color-black-5:rgba(0, 0, 0, .1);
$color-black-6:#1b1b1b;
$color-black-7:#2c2c2c;
$color-black-8:#0a0a0a;
$color-black-9:#474242;
$color-black-10:#000;
$color-gray-0:#7e7e7e;
$color-gray-1:#666;
$color-gray-2:#606060;
$color-gray-3:#a4a4a4;
$color-gray-4:#a9a8a8;
$color-gray-5:#909090;
$color-gray-6:#bbbbbb;
$color-gray-7:#a2a2a2;
$color-gary-8:#6f7273;
$color-gray-9:#595959;
$color-gray-10:#5a5a5a;
$color-gray-11:#7f7f7f;
$color-gray-12:#757575;
$color-gray-13:#555;
$color-white-0:#ffffff;
$color-white-1:#f5f5f5;
$color-white-2:#ddd7d7;
$color-white-3:#e9e9e9;
$color-whitw-4:#eaeaea;
$color-white-5:#e5e5e5;
$color-brown-0:#d6b161;
$color-red-0:#d9534f;
$color-background-0:rgba(0, 0, 0, .5);
$color-background-1:rgba(255, 255, 255, .9);
$color-background-2:rgba(255, 255, 255, 0.5);
$color-background-3:rgba(0, 0, 0, 0.7);
$color-background-4:rgba(34, 34, 34, 0.05);
$color-background-5:rgba(0, 0, 0, .6);
$color-background-6:rgba(0, 0, 0, .2);
$color-background-7:rgb(10, 10, 10);


//width
$w-0: 60px;
$w-1:70px;
$w-3:15px;

//font-size
$fs-0:15px;
$fs-1:24px;
$fs-2:60px;
$fs-3:18px;
$fs-4:10px;
$fs-5:36px;
$fs-6:30px;
$fs-7: 0.7rem;

//font-weight
$fw-0:400;
$fw-1:300;
$fw-2:700;

//line-height
$lh-0: 1.5px;
$lh-1:1.6rem;
$lh-2: 45px;
$lh-3:30px;
$lh-4:3.7rem;
$lh-5:60px;
$lh-6:20px;
$lh-7:2.5rem;

//margin
$mg-0:40px;
$mg-1:20px;
$mg-2:50px;
$mg-3:100px;
$mg-4:30px;
$mg-5:7px;
$mg-6:10px;
$mg-7:70px;
$mg-8:5px;
$mg-9:2.5rem;
$mg-10:-24px;
//padding
$p-0:100px;
$p-1:80px;
$p-2:60px;
$p-3:-15px;
$p-4:170px;
$p-5:30px;
$p-6:45px;
$p-7:150px;
$p-8:15px;
$p-9:23px;
$p-10:70px;
$p-11:2px;
$p-12:10px;
$p-13:37px;

//letter-spacing
$ls-1:1px;
$ls-0:2px;
$ls-2:6px;
$ls-3:3px;
//border-radius
$br-0:4px;
$br-1:30px;
//break-point
$breakpoints:(
    'screen4':1484.6px,
    'screen5':1387.3px,
    'extra-large':1199.8px,
    'screen6':1150px,
    'large':991.98px,
    'screen7':821px,
    'screen8':789px,
    'medium':768.1px,
    'screen3':762px,
    'screen0':634px,
    'small':576px,
    'screen1':480px,
    'screen2':390px,
)