header.sticky {
    background-color: $color-background-7;
    height: $w-0;
    color: $color-white-0;
    transition: all 0.7s ease;
    .navbar__top {
        padding: 0 $p-5;
        .navbar__logo {
            .navbar-brand {
                img {
                    width: $w-0 + 2.71;
                    height: $w-0;
                    padding: $p-11 0;
                    transition: all 0.5s ease;
                }
            }
        }
        .navbar-collapse {
            color: $color-white-0;
            .navbar__content {
                padding: 0;
                .header__menu {
                    margin-bottom: $mg-9;
                    transition: all 0.7s;
                    .header__li {
                        padding: 0 $p-8 - 3;
                        .nav-link {
                            letter-spacing: $ls-1;
                            padding: $p-8 + 1 0;
                            transition: none;
                        }
                    }
                }
            }
        }
    }
    @include responsive("screen5"){
        .navbar__top{
            .navbar-collapse{
                margin-top: 0;
            }
        }
    }
    @include responsive ("extra-large"){
        .navbar__top{
            .navbar-collapse{
                .navbar__content{
                    .header__menu{
                        .header__li{
                            padding: 0 $p-12 - 2;
                        }
                    }
                }
            }
        }
    }
    @include responsive ("large"){
        .navbar__top{
            padding: 0 $p-12 - 3;
            .navbar-collapse{
                .navbar__content{
                    .header__menu{
                        margin-bottom: 0;
                        .header__li{
                            padding: 0 $p-12 - 4.7;
                            .nav-link{
                                padding-top: 0;
                                padding-bottom: $p-13;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responsive("medium") {
    header.sticky {
        background: $color-black-8;
        height: 50px;
        width: 100%;
        transition: none;
        transform: translateY(none);
        .navbar__top {
            .navbar__logo {
                .navbar-brand {
                    img {
                        height: 50px;
                        width: auto;
                        transition: none;
                    }
                }
            }
            .navbar-collapse{
                margin-top: $mg-4;
                .navbar__content{
                    .header__menu{
                        margin-bottom: 0;
                        .header__li{
                            padding: 0 $p-12 - 2.8 0 0;
                            
                        }
                    }
                }
            }
        }
    }
}
