.stats {
    padding: $p-0 0;
    background-color: $color-black-6;
    .stats__content {
        .stats__item {
            color: $color-white-0;
            padding: 0 $p-5;
            text-align: center;
            .number_item {
                margin-bottom: $mg-6;
                font-size: $fs-5;
                i {
                    padding-right: $p-8 - 5;
                }
                span {
                    color: #fff;
                    letter-spacing: $ls-0;
                }
            }
            .stat_text {
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
    @include responsive("large") {
        .stats__content {
            .stats__item {
                padding-bottom: $p-8 - 5;
                &:last-child {
                    padding-bottom: 0;
                }
                .number_item {
                    margin-bottom: 0;
                }
            }
        }
    }
    @include responsive("medium") {
        .stats__content {
            .stats__item {
                padding-bottom: $p-6 + 5;
                &:last-child {
                    padding-bottom: 0;
                }
                .number_item {
                    span {
                        font-size: $fs-1 + 2;
                    }
                }
            }
        }
    }
}
